<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head style="background-color:#0d0d0d; color:white;">
  <meta charset="UTF-8" />
  <meta name="viewport" 
  content="width=device-width, initial-scale=1.0">
  <title>Atualizar Produto</title>
</head>

<body style="background-color:#0d0d0d; color:white;">
   <h1> Atualizar Produto </h1>
   {% comment %} <br>
   {% if produto.image %}
      <img class="container-fluid" src="../../imgs/{{produto.image}}" alt="" style="width:100px;height:100px;">
    {% else %}
      <img class="card-img-top" src="{% static 'default.png' %}" alt="">
    {% endif %}
    <br> {% endcomment %}

   <form action="." method="post" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
      <input type="submit" value="Sobrescrever">
      <input type="reset" value="Voltar" onclick="location.href='{% url 'manager:list' %}'">
   </form>

</body>

</html>