<!DOCTYPE html>
<html lang="pt-br">

<head style="background-color:#0d0d0d; color:white;">
  <meta charset="UTF-8" />
  <meta name="viewport" 
  content="width=device-width, initial-scale=1.0">
  <title> Indice - Eh-Loja </title>

  {% comment %} {% if url 'index' %}
  <div>
    <a href="{% url 'manager:index' %}"> 
      <h4> Seção do Gerente </h4>
    </a>
   </div>
  {% else %}
      <h4>Sem link, otario</h4>
  {% endif %} {% endcomment %}
</head>

<body style="background-color:#0d0d0d; color:white;">
   <h1> Loja Virtual: Eh-Loja </h1>
   <hr>

   <div>
    <a href="{% url 'manager:index' %}"> 
      <h4> Seção do Gerente </h4>
    </a>
   </div>

   <div>
    <a href="{% url 'manager:catalog' %}"> 
      <h4> Catálogo para Clientes </h4>
    </a>
   </div>

</body>

</html>