<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head style="background-color:#0d0d0d; color:white;">
  <meta charset="UTF-8" />
  <meta name="viewport" 
  content="width=device-width, initial-scale=1.0">
  <title> Detalhes do Produto </title>
</head>

<body style="background-color:#0d0d0d; color:white;">
   <h1> Detalhes da Compra </h1>

    <div>
    <a href="{% url 'manager:cart' %}"> Meu Carrinho </a>
    </div>
    <div>
    <a href="{% url 'manager:catalog' %}"> Voltar </a>
    </div> 
    
   <hr>
   
   
   <div>
      <h4> Detalhes do produto </h4>

      <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3 mb-lg-0">
                {% if object.imagem %}
                  <img class="container-fluid" src="../../..{{object.imagem.url}}" alt="" style="width:100px;height:100px;">
                {% else %}
                  <img class="card-img-top" src="{% static 'default.png' %}" alt="">
                {% endif %}
            </div>
            <div class="col-lg-9">
              {% comment %} produto ou object funcionam {% endcomment %}
                <h1 class="font-weight-bold">{{ object.nome }}</h1>  
                <h2>Unidade: R$ {{ object.preco_unitario }}</h2>
                <h5>Estoque: {{ object.estoque }}</h5>
                <form class="form-group" action="{% url 'manager:cartadd' object.id %}" method="post">
                    <p class="form-inline">
                        {{ form.as_p }}
                    </p>
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" value="Adicionar ao Carrinho"
                    >
                </form>
            </div>
        </div>
    </div>



   </div>
  

</body>

</html>